/* === Input Wrappers === */
label {
	@apply block mb-[5px] text-sm text-zinc-900 font-secondary font-light;
}
.variant-stock label {
	@apply min-w-[100px];
}

.variant-stock input {
	@apply max-w-32 w-20;
}

input,
textarea,
select {
	@apply w-full outline-none border border-zinc-400 px-2 py-[2px] text-xs rounded-md transition-colors duration-300 ease-in-out;
}

input::placeholder,
textarea::placeholder {
	font-size: 14px;
}

input:focus,
textarea:focus,
select:focus {
	@apply border-primary shadow-sm text-xs;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

.checkbox-wrapper {
	@apply flex items-center space-x-2;
}

.checkbox-input {
	@apply w-4 h-4 border border-zinc-400 rounded-md transition-colors duration-300 ease-in-out;
}

.checkbox-input:checked {
	@apply bg-primary border-primary;
}

.checkbox-input:focus {
	@apply ring-1 ring-primary/30;
}

.checkbox label {
	@apply mb-0;
}

/* ======================================
               Input States 
=======================================*/
.error input,
.error textarea {
	@apply border-accent bg-accent/10;
}

main.dark .error input,
main.dark .error textarea {
	@apply border-accent bg-accent/10;
}

/* ======================================
         Dark Mode for Inputs 
======================================= */
main.dark input,
main.dark textarea,
main.dark select {
	@apply bg-zinc-800 border-zinc-600 text-zinc-100;
}

main.dark label {
	@apply text-zinc-200;
}

main.dark .checkbox-input {
	@apply bg-zinc-800 border-zinc-400 outline-none;
}

main.dark .checkbox-input:checked {
	@apply bg-primary border-primary;
}
/* ======================================
      css for the tox tiny desc  
=========================================*/

main .tox.tox-tinymce {
	@apply border border-zinc-400;
}
main .tox .tox-icon svg {
	width: 20px;
}
main .tox .tox-icon {
	width: 22px;
}
main .tox .tox-toolbar__group {
	padding: 0px 3px;
}

main.dark .tox-editor-container,
main.dark .tox-editor-header,
main.dark .tox-editor-header .tox-toolbar,
main.dark .tox-editor-header .tox-toolbar-overlord,
main.dark .tox-editor-header .tox-tox-toolbar__primary,
main.dark .tox-toolbar button,
main.dark .tox-edit-area__iframe,
main.dark .tox-statusbar {
	background: #272727 !important;
}
main.dark .tox-toolbar svg,
main.dark .tox-statusbar * {
	fill: var(--dark-white) !important;
	color: var(--dark-white) !important;
}

/* ======================================
      css for the image uploader 
=========================================*/

main .image-grid {
	@apply outline-none border border-zinc-400;
}
main .image-grid .empty-state {
	@apply border-zinc-400;
}

main.dark .image-grid {
	background: #272727;
}
main.dark .image-grid svg {
	fill: var(--dark-white);
}
main.dark .image-grid * {
	color: var(--dark-white);
}
